* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.block {
  margin: 0 auto;
  width: 80%;
  background: #f5f8ff;
}
.header {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 80px;
  background: #ffff;
  border: 1px solid #d8e3fe;
}
.wrapper-header {
  display: flex;
  width: 80%;
  height: 100%;
  justify-content: space-between;
}
.header-side {
  display: flex;
  align-items: center;
  height: 100%;
}
.nav-text {
  margin-right: 42px;
  font-family: Quicksand;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: rgba(105, 124, 166, 1);
}
.blue-round {
  background: #5e81fe;
  width: 26px;
  height: 26px;
  border-radius: 100%;
}
.btn-start {
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  background: #d2e1ff;
  padding: 13px 16px;
  border: none;
  color: rgba(58, 121, 255, 1);
}
.btn-start:hover {
  background: #cdced3;
}
.btn-start:active {
  background: #cdced3;
  border: none;
}
.content-block {
  width: 100%;
  height: 570px;
  background-image: url("https://img1.goodfon.ru/original/1920x1408/1/d1/nebo-oblaka-sky.jpg");
  background-size: cover;
  background-position: bottom;
  filter: contrast(0.8);
}
.wrapper-content {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  filter: contrast(2);
}
.text-block {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.slogan-uppercase {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 12px;
  color: #3d4f9f;
}
.slogan-big {
  font-family: Quicksand;
  font-style: normal;
  font-weight: 300;
  font-size: 48px;
  line-height: 60px;
  color: #445394;
}
.bold {
  font-weight: 550;
}
.wrapper-content-text {
  display: flex;
  width: 100%;
  justify-content: center;
}
.content-text {
  display: flex;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 29px;
  width: 60%;
  color: #445394;
  justify-self: center;
}
